@charset "utf-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-image: url(imagens/bg.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
}

body * {
  font-family: "Inter", sans-serif;
  line-height: 160%;
}

main * {
  border: 1px solid red;
}

main {
  max-width: 580px;
  width: 90%;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

section {
  color: white;
}

section h2 {
  
  letter-spacing: -0,47;
}

section p {
  letter-spacing: -0.18;
  color: #a1a1aa;
}

section ul {
  display: flex;
  gap: 16px;

  margin-top: 24px;
}

.game-list img {
  width: 90px;
    border-radius: 8px;
}

.channel-list img {
  border-radius: 50%;
  width: 70px;
}

